/* Fonts  */
/* mulish-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/mulish-v12-latin-300.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url("./fonts/mulish-v12-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/mulish-v12-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url("./fonts/mulish-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/mulish-v12-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url("./fonts/mulish-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GENERAL  */
/* *,
*::before,
*::after{
  box-sizing: inherit;
} */
*{
  box-sizing: border-box;
}
img{
  display: block;

}
body{
  font-family: "Mulish", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}

/* CONTAINER  */
.container{
  width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER  */
.site-main {
  flex-grow: 1;
}

/* Header styles starter */
.site-header {
  padding-top: 56px;
  padding-bottom: 90px;
}
.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header__item {
  margin-right: 40px;
}

.site-header__link {
  font-size: 18px;
  font-weight: 700;
  color: #1F1534;
  opacity: 0.5;
  text-decoration: none;
}
.site-header__link--active {
  opacity: 1;
}
/* Header styles finished */

/* Hero styles started */
.hero {
  padding-bottom: 387px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content__wrapper {
  width: 440px;
}
.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;

}
.hero__description {
  margin-bottom: 40px;
  margin: 0;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
}
.hero__link {
  display: inline-block;
  margin-top: 40px;
  padding-top:  16px;
  padding-right: 38px ;
  padding-bottom: 17px;
  padding-left: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #458FF6;
  border-radius: 55px;
  text-decoration: none;
}
/* Hero styles started  */
/*Services section started  */
.services {
  text-align: center;
  padding-bottom: 213px;
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.services__arrow {
  display: inline-block;
  margin-bottom: 30px;
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
}
.services__description__wrapper {
  width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.services__description {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}
.services__wrapper {
  position: relative;
}
.services__wrapper::before {
  position: absolute;
  top: calc(50% - 660px);
  left: calc(50% + -787px);
  width: 780px;
  height: 958px;
  background-image: url("./images/Frame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  z-index: -3;

}
.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
}
.services__item {
  width: 380px;
  height: 380px;
  margin-bottom: 40px;
  padding-top: 68px;
  padding-right: 59px;
  padding-bottom: 47px;
  padding-left: 41px;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 10px 40px  50px  rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.services__item:nth-child(3){
  padding-top: 61px;
}
.services__item:nth-child(4){
  margin-bottom: 0;
  padding-top: 47px;
}
.services__item:nth-child(5){
  margin-bottom: 0;
  padding-top: 62px;
}
.services__item:last-child {
  margin-bottom: 0;
  padding-top: 56px;
}
.services__item:last-child img{
  margin-bottom: 21px;
}
.services__image {
  margin-bottom: 23px;
}
.services__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}
.services__description {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.services__link {
  display: inline-block;
  padding-top: 17px;
  padding-right: 51px;
  padding-bottom: 16px;
  padding-left: 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #458FF6;
  font-size: 18px;
  line-height: 23px;
  color: #458FF6;
  text-decoration: none;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
}
/*Services section finished   */

/* Providers section started  */
.providers {
  padding-bottom: 250px;
}
.providers__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.providers__subwrapper {
  width: 435px;
}
.providers__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.services__wrapperr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-left: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #458FF6;
  font-size: 18px;
  line-height: 23px;
  color: #458FF6;
  text-decoration: none;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
}
.services__linkk {
  margin-right: 7px;
  text-decoration: none;
}
.servis__img {
  display: inline-block;
}
.providers__description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}
.apps__wrapper {
  flex-direction: row-reverse;
}
.apps__subwrapper {
  width: 380px;
}

/* Providers section fininshed  */

/* Apps section started     */
.apps__wrapper {
  flex-direction: row-reverse;
}
.apps__subwrapper {
  width: 382px;
}


/* /* Apps section started     */

/* Feedback section srarted */
.feedback {
  padding-bottom: 251px;
  text-align: center;
}
.feedback__wrapper {
  padding: 73px 118px;
  color: #FFFFFF;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}
.feedback__arrow {
  margin-bottom: 70px;
  background-color: #fff;
}
.feedback__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}
.feedback__subwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.feedaback__content__wrapper {
  display: flex;
  align-items: center;
}
.feedback__image {
  margin-right: 31px;
  border-radius: 50%;
}
.feedback__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}
.feedback__description {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.85);
}
.feedback__blocquote-wrapper {
  width: 403px;
}
.feedback__blocquote {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

/* Feedback section finished */

/* Article section started  */
.article {
  text-align: center;
  padding-bottom: 150px;
}
.article__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.article__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding-left: 0;
  list-style: none;
}
.article__item {
  width: 380px;
  text-align: left;
  background-color: #ffffff;
}
.article__wrapp {
  position: relative;
}
.article__wrapp::before {
position: absolute;
top: calc(50% - 238px);
left: calc(50% + 310px);
width: 449px;
height: 487px;
background-image: url("./images/Vectorr.svg");
background-repeat: no-repeat;
background-size: cover;
content: "";
z-index: -3;
}
.article__wrapper {
  padding: 30px;
  padding-right: 94px;
}
.article__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}
.article__description {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.article__link {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  text-decoration: none;
}
.article-anchor {
  display: inline-block;
  width: 220px;
}
.article-sate-img{
  display: inline-block;
}
.article-link {
  padding-right: 65px;
  padding-left: 65px;
}
/* Article section finished  */

/* Site footer finished  */
.site-footer {
  padding-top: 116px;
  padding-bottom: 115px;

  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.site-footer {
  display: flex;
  justify-content: space-between;
}
.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.site-footer__left-wrapper {
  width: 386px;
  color: #ffffff;
}
.site-footer__decsription {
  margin: 0;
  margin-top: 17px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.site-footer__rights {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.site-footer__subwrapper {
  color: #ffffff;
}
.site-footer__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.site-footer__list {
  padding-left: 0;
  list-style: none;
}
.site-footer__item {
  margin-bottom: 10px;
}
.site-footer__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}
.site-footer__right-wrapper {
  display: flex;
  justify-content: space-between;
}


/* Site footer finished  */
